body{
  background-color: var(--back);
  /* border-radius: 50px; */
  /* margin: 10px 20px; */
  /* height: 100vh; */
}

.home-intro{
  position: relative;
}
.bottom-center {
  opacity: 20%;
  position: absolute;
  bottom: -90px;       /* Stick to bottom */
  left: 50%;       /* Move to middle horizontally */
  transform: translateX(-50%); /* Center precisely */
  width: 180px;    /* Optional: size control */
  }

.home-title{ 
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 85px;
  text-align: center;
  padding: 50px;
  /* padding-bottom: 10px; */
}

.col-title{
  color: var(--col2);
  font-family: "Boldonse", system-ui;

}

.intro-section{
  display: flex;
   width: 80%;
  margin: 0 auto;
  /* background-color: blue; */
  justify-content: space-between;
}

.home-intro-img{
  /* height: 700px; */
   object-fit: cover; 
  width: 50%;
}

.auth-section{
 /* background-color: pink; */
 width: 50%;
}

.auth-btn-section{
  margin: 0 auto;
 width: 475px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.auth-btn{
  background-color: var(--back);
  padding: 10px 20px ;
  font-size: var(--font-m);
  /* font-weight: bold; */
  border: 4px solid var(--col4);
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  width: 200px;
}
.auth-btn:hover{
  cursor: pointer;
}

.auth-btn-active{
  background-color: var(--col4);
}


.auth-form{
  display: flex;
  flex-direction: column;
  /* border: 4px solid var(--col3); */
  border-radius: 10px;
  max-width: 600px;
  margin: 30px auto;
  padding: 40px;
  box-shadow: 5px 50px 100px rgba(109, 109, 109, 0.3);

}

.auth-form input, .auth-form button{
  background-color:   rgb(245, 244, 244);
  color: var(--back);
  font-size: var(--font-m);

  padding: 20px;
  border: none;
  text-align: center;
  border-radius: 10px;

}

.auth-form button{
   background-color: var(--col5);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 8px;
  cursor: pointer;
}

.auth-form input{
  margin-bottom: 35px;
}


.home-informational{
  background-color: var(--col1);
  padding-top: 40px;
  padding-bottom: 90px;
  
}

h3.home-title{
  font-size: 38px;
  letter-spacing: 5px;
}

.auth-form p{
  color: var(--col8);
  text-align: center;
  margin-bottom: 20px;
}
 
.informational-p:not(:first-child){

margin-top: 40px;
  
}

.p-section {
  font-size: 28px;
  background-color: var(--col2);
  letter-spacing: 2px;
  width: 700px;
  margin: 0 auto;
  line-height: 45px;
  padding: 25px 35px ;
  border-radius: 5px;
  box-shadow: 0 8px 24px rgba(234, 129, 129, .15);

}

.news-letter{
  font-size: 28px;

  padding: 40px;

  width: 690px;
  margin: 40px auto ;
  height: fit-content;
}


@media (max-width: 1300px){

  .intro-section{
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .home-intro-img{
    width: 70%;
    margin: 0 auto;
  }
  .auth-section{
    width: 100%;
  }
  .auth-btn-section{
    width: 50%;
  }
  .p-section{
    width: 100%;
  }
  .informational-p{
    width: 100%;
  }

  .news-letter{
  font-size: 28px;

  padding: 40px;

  width: 80%;
  margin: 40px auto;
  height: 600px;
}
  .auth-btn-section{
    /* background-color: pink; */
  margin: 0 auto;
 max-width: 350px;
 width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.auth-btn{

  padding: 10px 20px ;
  font-size: var(--font-s);
  /* font-weight: bold; */
  border: 4px solid var(--col4);
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  /* width: 200px; */
  width: fit-content;
}

}

@media (max-width: 700px){
  .home-title{
    font-size: 30px;
    padding: 35px 10px;
  }
  h3.home-title{
    font-size: 18px;
  }
  .informational-p{
    font-size: 15px;
    line-height: 18px;
  }
  .p-section{
    max-width: 90%;;
  }

  .auth-btn-section{
    margin: 0 auto;
  }
  .home-informational{
    padding-bottom: 0;
  }
  .news-letter{
    height: fit-content;
    padding: 20px
  }
}

/* FONT GOLDMAN */