.workout-log-wrapper{
    display: flex;
  flex-direction: column;
  background-color: var(--back_light);
  border-radius: 10px;
  border: 1px solid var(--outline_light);
  padding: 20px;
  margin-top: 25px;

}

.ex-section{
  margin-top: 25px;
}

.ex-sets{
  display: flex;
  flex-direction: row;
}

.ex-sets p:not(:last-child){
  margin-right: 20px;
}

.ex-sets p{
  padding: 10px 15px;
  border: 1px solid var(--outline_light) ;
  border-radius: 5px;
  margin-top: 15px;

}

p.selected-set{
  border: 2px solid var(--col4);
  /* border-color: var(--col4); */
  /* background-color: var(--col4); */
}
p.completed-set{
  border: 2px solid var(--col4);
  border-color: var(--col4);
  background-color: var(--col4);
}



.set-controls{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  /* align-items: end; */
  width: fit-content;
}

.set-controls input{
  border-radius: 5px;
  border: 1px solid var(--outline_light);
  padding: 10px 15px;
  width: 60px;
  margin-right: 20px;
  background: none;
}
.set-controls button{
  border-radius: 5px;
  border: 1px solid var(--outline_light);
  padding: 10px 15px;
  /* margin-left: 20px; */
  margin-top: 10px;
  background: none;

    background-color: rgb(94, 93, 93);
  /* padding: 15px 30px; */
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-sm);
  border: none;
  transition: .35s;
  font-weight: bold;
}
.set-controls button:hover{
  background-color: var(--col5);

}




.chevron-btn{
  width: 30px;
  /* background-color: blue; */
  cursor: pointer;
}
.down-chev{
  transform: scaleY(-1);
  margin-left: 10px;
}

img{
  margin: 0;
  padding: 0;
}

.sets-input-section{
  display: flex;
  flex-direction: row;
}

@media (max-width: 550px){
  .ex-sets{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
}

/* .ex-sets p:not(:first-child){
  margin-left: 20px;
}

.ex-sets p{
  padding: 10px 15px;
  border: 1px solid var(--outline_light) ;
  border-radius: 5px;

} */
}