

*{
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif;
}

:root{
  --col1: hsl(305, 50%, 10%);
  --col2: hsl(305, 50%, 20%);
  --col3: hsl(305, 50%, 30%);
  --col4: hsl(305, 50%, 40%);
  --col5: hsl(305, 50%, 50%);
  --col6: hsl(305, 50%, 60%);
  --col7: hsl(305, 50%, 70%);
  --col8: hsl(305, 50%, 80%);


  --font-sm: 16px;
  --font-m: 18px;
  --font-lg: 24px;

  --text_light:hsl(0, 0%, 95%);
  --outline_light:hsl(0, 0%, 40%);

  --back:hsl(0, 0%, 12%);
  --back_light:hsl(0, 0%, 18%);


}

.pointer{
  cursor: pointer;
}

.flex-display{
  display: flex;
  flex-direction: column;
}

.error{
  color: var(--col7);
}
body{
  background-color: pink;
}